body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f9f9f9;
}

header {
    background-color: #4caf50;
    color: white;
    padding: 20px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #4caf50;
    font-weight: bold;
    padding: 15px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #4caf50;
    color: white;
}

main {
    padding: 20px;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

form {
    margin: 20px 0;
}

form input, form select, form button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
    height: 40px;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    background-color: #f8f8f8;
    font-weight: bold;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.income-text {
    color: blue;
}

.expense-text {
    color: red;
}

.details {
    overflow: hidden;
    transition: height 0.3s ease, opacity 0.3s ease;
}

.details.closing {
    height: 0;
    opacity: 0;
    transition: height 0.3s ease, opacity 0.3s ease;
}

#filter-section {
    margin: 20px 0;
    padding: 15px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#filterForm label {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
}

#filterForm input, #filterForm select, #filterForm button {
    padding: 8px;
    margin: 5px;
    font-size: 16px;
}

#filterForm button:hover {
    background-color: #45a049;
}
